<p>This application is requesting access to the following scopes</p>

<ul>
    <li>foo</li>
    <li>bar</li>
    <li>baz</li>
</ul>

<p>Would you like to grant the requested scopes to this application?</p>
