---
  globals:
    sinon: false
    assert: false
    refute: false

  rules:
    no-invalid-this: 0
    new-cap:
      - 2
      - capIsNewExceptions:
        - Before
        - After
        - Given
        - When
        - Then
